name: Publish Extension

on:
  push:
    branches: [main]

  workflow_dispatch:

jobs:
  build-and-publish:
    environment: publish-extension
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 14

      - name: Publish extension to marketplace
        uses: HaaLeo/publish-vscode-extension@v1
        with:
          # Personal access token
          pat: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
